$azul_primario: #014464;
$azul_claro:#44B5DA;
header {
    background-color: white;
    margin:auto;
}
nav{
    margin:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.bars__menu{
    width:30px;
    height:30px;
    background-color: white;
    margin-top: 10px;
    display:none;
    cursor:pointer;
    span{
        display:block;
        width:60%;
        height:2px;
        background:black;
        margin-top: 6px;
        margin-left: 6px;
        transform-origin: 0px 100%;
        transition: all 300ms;

    }
}
.line1__bars-menu.active{
    transform:rotate(45deg) translate(4px, 1px);
}
.line2__bars-menu.active{
    opacity:0;
    margin-left:-30px;
}
.line3__bars-menu.active{
    transform:rotate(-45deg) translate(2px, 2px);
}
.horizontal-menu{
    display:flex;
    list-style: none;
    justify-content:space-around;
}
.horizontal-menu > li > a{
    display:block;
    padding: 15px 20px;
    color:$azul_primario;
    text-decoration: none;
}
.logo{
    margin-bottom:30px;
    margin-top:30px;
    background-color: white;
    width: 200px;
    height: 50px;
}
.horizontal-menu > li:hover{
    li{
        padding:10px;
    }
    .horizontal{
        color:$azul_claro;
        text-decoration:underline;
        border-bottom:#014464;
    }
    .vertical-menu a{
        color:black;
    }

}
.vertical-menu{
    position:absolute;
    display:none;
    list-style:none;
    padding:20px;
    width:200px;
    background-color: rgb(188, 173, 173);
}
.horizontal-menu li:hover .vertical-menu{
    display: block;
}
@media screen and (max-width: 900px){
    header{
        width:100%;
        text-align:center;
    }
    nav{
        flex-direction: column;
    }
    .bars__menu{
        display:block;
    }
    .horizontal-menu{
        display:none;
    }
    .horizontal-menu.active{
        display:flex;
        flex-direction: column;
    }
    .vertical-menu{
        width:182px;
    }
    .logo{
        display:block;
    }
}

