<header>
    <nav>
        <img src="../../assets/Images/logo.gif" class="logo" alt="Logo Mundo Cart Diesel">
        <div class="bars__menu">
            <span class="line1__bars-menu"></span>
            <span class="line2__bars-menu"></span>
            <span class="line3__bars-menu"></span> 
        </div>
        <ul class="horizontal-menu">
            <li><a href="#" class="horizontal">INICIO</a></li>

            <li>
                <a  routerLink="/about-us" routerLinkActive="active" class="horizontal">¿QUIÉNES SOMOS?</a>
                <ul class="vertical-menu">
                    <li><a href="#">COMERCIAL</a></li>
                    <li><a href="#">SERVICIOS</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="horizontal">EXPOSICIONES</a>
                <ul class="vertical-menu">
                    <li><a href="#">FERIAS</a></li>
                </ul>
            </li>

            <li>
                <a href="#"class="horizontal">PRODUCTOS</a>
                <ul class="vertical-menu">
                    <li><a href="#">CATEGORAS</a></li>
                </ul>
            </li>

            <li><a href="#"class="horizontal">CONTÁCTENOS</a></li>
        </ul>
    </nav>
</header>