<div class="parent_container">
    <div class="container1">
        <h5>Contacto</h5>
        <div class="numbers">
            <div class="telephone">
                <p>Teléfono</p>
                <p>+601-4461041</p>
                <p>+601-2617139</p>
            </div>
            <div class="cellphone">
                <p>Celular</p>
                <p>3107751677</p>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="attention">
            <h5>Atención</h5>
            <p>Lunes a Viernes</p>
            <p>De 7:30 AM a 6:30 PM</p>
            <p>Sábados</p>
            <p>De 8:00 AM a 12:00 PM</p>
        </div>
    </div>
</div>