<section>
    <div class="container_slider">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="../../assets/Images/header-1.gif" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="../../assets/Images/DSCN0210.gif" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="../../assets/Images/header-3.gif" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="../../assets/Images/header-4.gif" alt="" class="slider__img">
            </div>
        </div>
        <div class="slider__btn slider__btn--left" id="btn-left">
            &#60;
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">
            &#62;
        </div>
    </div>
</section>