<div class="parent_container">
    <div class="container_firstColumn">
        <h4>Motor</h4>
       <a routerLink="/engine" routerLinkActive="active"><img src="../../../assets/Images/pexels-markus-spiske-2027045.jpg" alt="Motor"></a> 
        <h4>Suspensión</h4>
        <a routerLink="/suspension" routerLinkActive="active"><img src="../../../assets/Images/suspension-trasera3-d383.jpg" alt="Suspensión"></a> 
    </div>
    <div class="container_secondColumn">
        <h4>Transmisión</h4>
       <a routerLink="/transmision" routerLinkActive="active"> <img src="../../../assets/Images/pexels-griffin-wooldridge-4227726.jpg" alt="Transmisión"></a> 
        <h4>Otros</h4>
        <a routerLink="/other" routerLinkActive="active"><img src="../../../assets/Images/repuestos-originales-para-vehiculos-autos-motos.jpg" alt="Otros"></a> 
    </div>
</div>
<app-shopping-cart></app-shopping-cart>