<div class="table">
    <table>
        <tr>
            <th>
                <h4>Primer Teléfono</h4>
                <br>
                <br>
                +601-2617139
            </th>
        </tr>
        <tr>
            <th>
                <h4>Segundo Teléfono</h4>
                <br>
                <br>
                +601-4461041
            </th>
        </tr>
        <tr>
            <th>
                <h4>Celular</h4>
                <br>
                <br>
                3107751677
            </th>
        </tr>
    </table>
</div>
<app-carousel-brands></app-carousel-brands>
<app-shopping-cart></app-shopping-cart>