.table{
    display:flex;
    justify-content: center;
}
table{
    border:1px solid black;
    margin-top:80px;
    margin-bottom:80px;
    width: 200px;
    height: 300px;
}
th{
        border:1px solid black;
}