<section>
    <div class="container_slider-brands">
        <div class="slider-brands" id="slider-brands">
            <div class="slider__section-brands">
                <img src="../../../../assets/Images/GRE.gif" alt="" class="slider-brands__img" id="gre">
            </div>
            <div class="slider__section-brands">
                <img src="../../../../assets/Images/knorr.png" alt="" class="slider-brands__img" id="knorr">
            </div>
            <div class="slider__section-brands">
                <img src="../../../../assets/Images/emmerre-2013.jpg" alt="" class="slider-brands__img" id="emmerre">
            </div>
            <div class="slider__section-brands">
                <img src="../../../../assets/Images/mec-diesel.jpg" alt="" class="slider-brands__img" id="mec">
            </div>
            <div class="slider__section-brands">
                <img src="../../../../assets/Images/sachs.png" alt="" class="slider-brands__img" id="sachs">
            </div>
            <div class="slider__section-brands">
                <img src="../../../../assets/Images/techno.gif" alt="" class="slider-brands__img" id="techno">
            </div>
            <div class="slider__section-brands">
                <img src="../../../../assets/Images/ufi.jpg" alt="" class="slider-brands__img" id="ufi">
            </div>
            <div class="slider__section-brands">
                <img src="../../../assets/Images/ASBO.png" alt="" class="slider-brands__img" id="asbo">
            </div>
        </div>
        
    </div>
</section>
