<section>
    <br>
    <br>
    <h3>Comercial</h3>
    <p>
        <br>Nuestra empresa Mundo Cart Diesel
        <br>fundada en 2002, la cual se dedica a la
        <br>comercialización de repuestos de marcas
        <br>europeas y al servicio de taller con
        <br>especialización en diesel y la marca IVECO,
        <br>de la cual somos taller autorizado en Colombia
        <br>
        <br>En consecuencia de lo anterior tenemos la
        <br>representación de fábricas y empresas en
        <br>Europa las cuales producen y comercializan
        <br>repuestos para vehículos europeos como:
        <br>Renault, Mercedes Benz, Scania, Volvo, IVECO.
        <br>
        <br>Estamos en la capacidad de cotizarles
        <br>repuestos para frenos, suspensión, motor,
        <br>cajas de velocidades, filtración, inyección
        <br>y eléctricos ya sea en marcas homologadas
        <br>o en repuestos originales.
        <br>
        <br>Ofrecemos hacer importaciones específicas
        <br>según las necesidades de nuestro cliente,
        <br>de tal forma que estos puedan programar sus
        <br>pedidos de acuerdo a su conveniencia, también
        <br>ofrecemos hacer importaciones vía Courier para
        <br>unidades paralizadas. Dentro de nuestros servicios
        <br>estamos en capacidad de ofrecerles exportaciones
        <br>desde Europa o desde Colombia según su conveniencia
        <br>Estamos con toda la dispocición de poner nuestro
        <br>conocimiento y trabajo a su servicio.
    </p>
</section>
<app-carousel-brands></app-carousel-brands>