<section>
    <div id="welcome">
        <br>
        <p>Bienvenidos a Mundo Cart Diesel, una
            <br>empresa de servicios y comercial.
            <br>Ofrecemos repuestos para camiones y
            <br>tractocamiones diesel, pesado y liviano; 
            <br>también servicios mecánicos para vehículos
            <br>con motores diesel y a gas.
            <br>
            <br>Tenemos 20 años de experiencia y la mejor
            <br>calidad en nuestros servicios. Contamos con
            <br>personal altamente capacitado, que lo puede
            <br>ayudar con cualquier inconveniente que tenga
            <br>con sus camiones, buses, ambulancias, etc... 
            <br>Los repuestos son de marcas europeas como IVECO,
            <br>Volvo, Mercedes Benz, Scania y Renault.
            <br>
            <br>
        </p>
    </div>
    <div id="introduction">
        <p>Nos especializamos en
            <br>los vehículos diesel,
            <br>sus partes y su 
            <br>mantenimiento.
        </p>
    </div>
</section>