<div class="image_services">
    <img src="../../../../assets/Images/servicios.png" alt="Servicios">
</div>
<div class="text">
    <h3>Servicios Técnicos</h3>
    <p>
    MANTENIMIENTO PREVENTIVO
    <br>
    • Análisis de aceite
    <br>
    • Escaneo - informe datos memorizados
    <br>
    SERVICIO CORRECTIVO 
    <br>
    • Scanner diferente marcas (Iveco, Isuzu, Hino,
    Mercedes, Agrale y Camiones americanos).
    <br>
    • Reparación (motor, transmisión, diferencial).
    <br>
    • Servicio laboratorio de invección electrónica.
    <br>
    • Servicio de Electricidad y Electrónica. 
    <br>
    • Servicio patio: dirección. Frenos, suspensión,
    Hidráulica y Neumática.
    <br>
    • Colisión (Chasis, latonería y pintura) Capacitación
    <br>
    </p>
</div>
<app-carousel-brands></app-carousel-brands>